html, body{
    min-width: 100%;
    max-width: 100%;
}
.main{
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.frame_1{
    width: 100vw;
    height: calc(900vw/14);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    width: calc(600vw/14);
    height: calc(100vw/14);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.letter_box{
    width: calc(100%/7);
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter_box p {
    font-size: 4vw; 
    font-family: Murs_Massive_Black_Italic; 
    font-style: italic; 
    transition: font-style 0.7s ease, font-family 0.7s ease; 
}

.letter_box:hover p {
    font-style: normal; 
    font-family: Murs_Wide_Regular; 
}
.button_1{
    width: calc(100vw/14);
    height: calc(100vw/14);
    position: absolute;
    left: calc(500vw/14);
    bottom: calc(700vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
    cursor: pointer;
}
.button_2{
    width: calc(100vw/14);
    height: calc(100vw/14);
    position: absolute;
    right: calc(500vw/14);
    bottom: calc(700vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
    cursor: pointer;
}
.button_3{
    width: calc(100vw/14);
    height: calc(100vw/14);
    position: absolute;
    left: calc(330vw/14);
    top: calc(700vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
    cursor: pointer;
}
.button_3:hover p {
    font-size: 2.6vw
}
.button_4{
    width: calc(200vw/14);
    height: calc(100vw/14);
    position: absolute;
    left: center;
    top: calc(700vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
    cursor: pointer;
}
.button_4:hover p{
    font-size: 2.6vw;
}
.button_5{
    width: calc(200vw/14);
    height: calc(100vw/14);
    position: absolute;
    right: calc(290vw/14);
    top: calc(700vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
    cursor: pointer;
}
.button_5:hover p{
    font-size: 2.6vw;
}
.device_window{
    width: calc(550vw/14);
    height: calc(450vw/14);
    position: absolute;
    left: calc(120vw/14);
    top: calc(80vw/14);
    visibility: hidden;
    /* убрать нижнюю команду */
    /* display: none; */
    /* убрать синий */
    background-color: blue;
    border-radius: 4vw;
    opacity: 0.3;
    transition: opacity 0.7s, visibility 0.5s;
}

.capsule_window{
    width: calc(550vw/14);
    height: calc(450vw/14);
    position: absolute;
    right: calc(120vw/14);
    top: calc(80vw/14);
    visibility: hidden;
    /* убрать нижнюю команду */
    /* display: none; */
    /* убрать синий */
    background-color: blue;
    border-radius: 4vw;
    opacity: 0.3;
    transition: opacity 0.7s, visibility 0.5s;
}
.frame_2{
    width: 100vw;
    height: calc(750vw/14);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clocks{
    width: calc(700vw/14);
    height: calc(600vw/14);
    position: absolute;
    left: calc(5vw/14);
    top: calc(50vw/14);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.clock_center{
    width: calc(40vw/14); 
    height: calc(40vw/14); 
    position: absolute;
    left: calc(330vw/14);
    top: calc(330vw/14);
    background-color: black; 
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.clock_center:hover {
    transform: scale(1.5);
}
.hour_hand{
    width: calc(140vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(170vw/14);
    top: calc(330vw/14);
    background-color: black;
    transition: transform 2s ease;
}
/* .hour_hand {
    animation: hour_hand_rotate 43s linear infinite;
} */
.minute_hand {
    width: calc(180vw/14);
    height: calc(20vw/14);
    position: absolute;
    left: calc(130vw/14);
    top: calc(340vw/14);
    background-color: red;
    transition: transform 2s ease;
}
/* .minute_hand:hover {
    transform: rotate(360deg);
}
@keyframes hour_hand_rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
} */
 .photo_jigsaw {
    width: calc(280vw/14);
    height: calc(100vw/14);
    position: absolute;
    right: calc(30vw/14);
    top: calc(5vw/14);
    font-family: Murs_Wide_Regular;
    font-style: normal;
    font-size: 2vw;
 } 
 /* fragments */
 .frame_3 {
    width: 100vw;
    height: calc(500vw/14);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .left_ellipses {
    width: calc(30vw/14);
    height: calc(500vw/14);
    position: absolute;
    left: calc(-110vw/14);
    top: calc(5vw/14);
    display: flex;
 }
.el_01 {
    width: calc(170vw/14);
    height: calc(170vw/14);
    position: absolute;
    left: calc(50vw/14);
    top: calc(7vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_02 {
    width: calc(45vw/14);
    height: calc(45vw/14);
    position: absolute;
    left: calc(235vw/14);
    top: calc(35vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_03 {
    width: calc(50vw/14);
    height: calc(50vw/14);
    position: absolute;
    left: calc(325vw/14);
    top: calc(35vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_04 {
    width: calc(140vw/14);
    height: calc(140vw/14);
    position: absolute;
    left: calc(270vw/14);
    top: calc(90vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_05 {
    width: calc(145vw/14);
    height: calc(145vw/14);
    position: absolute;
    left: calc(260vw/14);
    bottom: calc(50vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_06 {
    width: calc(130vw/14);
    height: calc(130vw/14);
    position: absolute;
    left: calc(77vw/14);
    top: calc(310vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_07 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(160vw/14);
    top: calc(175vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_08 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(210vw/14);
    top: calc(185vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_09 {
    width: calc(65vw/14);
    height: calc(65vw/14);
    position: absolute;
    left: calc(200vw/14);
    top: calc(240vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_10 {
    width: calc(30vw/14);
    height: calc(30vw/14);
    position: absolute;
    left: calc(170vw/14);
    top: calc(290vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_11 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(268vw/14);
    top: calc(263vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_12 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(220vw/14);
    top: calc(395vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_13 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(220vw/14);
    top: calc(395vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_14 {
    width: calc(35vw/14);
    height: calc(35vw/14);
    position: absolute;
    left: calc(145vw/14);
    bottom: calc(25vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_15 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(195vw/14);
    bottom: calc(15vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.right_ellipses{
    width: calc(30vw/14);
    height: calc(500vw/14);
    position: absolute;
    right: calc(290vw/14);
    top: calc(5vw/14);
    display: flex;
 }
.el_1 {
    width: calc(170vw/14);
    height: calc(170vw/14);
    position: absolute;
    left: calc(190vw/14);
    top: calc(7vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_2 {
    width: calc(45vw/14);
    height: calc(45vw/14);
    position: absolute;
    left: calc(43vw/14);
    top: calc(35vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_3 {
    width: calc(50vw/14);
    height: calc(50vw/14);
    position: absolute;
    left: calc(132vw/14);
    top: calc(35vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_4 {
    width: calc(140vw/14);
    height: calc(140vw/14);
    position: absolute;
    left: calc(1vw/14);
    top: calc(90vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_5 {
    width: calc(145vw/14);
    height: calc(145vw/14);
    position: absolute;
    left: calc(5vw/14);
    bottom: calc(50vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_6 {
    width: calc(130vw/14);
    height: calc(130vw/14);
    position: absolute;
    left: calc(205vw/14);
    top: calc(310vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_7 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(215vw/14);
    top: calc(175vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_8 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(165vw/14);
    top: calc(185vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_9 {
    width: calc(65vw/14);
    height: calc(65vw/14);
    position: absolute;
    left: calc(150vw/14);
    top: calc(240vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_010 {
    width: calc(30vw/14);
    height: calc(30vw/14);
    position: absolute;
    left: calc(210vw/14);
    top: calc(290vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_011 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(100vw/14);
    top: calc(263vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_012 {
    width: calc(40vw/14);
    height: calc(40vw/14);
    position: absolute;
    left: calc(150vw/14);
    top: calc(395vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_013 {
    width: calc(35vw/14);
    height: calc(35vw/14);
    position: absolute;
    left: calc(233vw/14);
    top: calc(440vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_014 {
    width: calc(35vw/14);
    height: calc(35vw/14);
    position: absolute;
    left: calc(192vw/14);
    bottom: calc(23vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_015 {
    width: calc(25vw/14);
    height: calc(25vw/14);
    position: absolute;
    left: calc(175vw/14);
    bottom: calc(4vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}
.el_016 {
    width: calc(80vw/14);
    height: calc(80vw/14);
    position: absolute;
    left: calc(290vw/14);
    top: calc(200vw/14);
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
}

 